<a href="https://colab.research.google.com/github/kousarraza/Python/blob/main/Basic_Python_by_Kousar_Raza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Day-1

## What is Python?
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:

* web development (server-side),
* software development,
* mathematics, system scripting.

## What can Python do?
* Python can be used on a server to create web applications.
* Python can be used alongside software to create workflows.
* Python can connect to database systems. It can also read and modify files.
* Python can be used to handle big data and perform complex mathematics.
* Python can be used for rapid prototyping, or for production-ready software development.

## Why Python?
* Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
* Python has a simple syntax similar to the English language.
* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
* Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
* Python can be treated in a procedural way, an object-oriented way or a functional way.

##Python Indentation
* Indentation refers to the spaces at the beginning of a code line.

* Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

##First Program

In [ ]:
print("Hello World")

Hello World

#Day-2

## Python Comments
### Comments Uses

* Comments can be used to explain Python code.
* Comments can be used to make the code more readable.
* Comments can be used to prevent execution when testing code.


### Type of Comments in Python

1. Single line comment
2. Multi line comment

In [ ]:
#This is Single Line Comment
print("Single Comment")

"""
This is Mutli Line Comment
"""

'''
This is Also Multi Line Comment

'''

Single Comment

'\nThis is Also Multi Line Comment\n\n'

## Variables


A variable should be named according to following rules:

1. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
2. A variable name must start with a letter or the underscore character.
3. Variable names are case sensitive.
4.Variable name shouldn't be any keyword of Python.

### Naming a Multi words Varaible
* Variable names with more than one word can be difficult to read.

* There are several techniques you can use to make them more readable:

3 methods to name a variable:

1. Camel Case

2. Pascal  Case

3. Snake Case

####Camel Case
* When using camel case, you start by making the first word lowercase. Then, you capitalize the first letter of each word that follows.

* So, a capital letter appears at the start of the second word and at each new subsequent word that follows it.
* Each word, except the first, starts with a capital letter:

In [ ]:
#Camel Case Variable
classThreeStudents=45
bigThree="India","Austrilia","England"
print(classThreeStudents)

45

####Pascal Case
* Pascal case is similar to camel case.
* Each word starts with a capital letter:
* The only difference between the two is that pascal case requires the first letter of the first word to also be capitalized.

* So, when using pascal case, every word starts with an uppercase letter (in contrast to camel case, where the first word is in lowercase).

In [ ]:
#Pascal Case Variable
Myname="Kousar Raza"
Yourname="ABC"
print(Myname)

#### Snake Case
* Snake case is used for creating variable and method names.

* Each word is separated by an underscore character
* Snake case is also a good choice for naming files, as it keeps names readable.

* You will typically encounter it the most when programming in Python and not so much when programming in Java, JavaScript, or TypeScript.

* You will also come across it when working with databases, as it is used for creating table and column names.

* There is also an all-caps version of the snake case where all letters are in the upper case - also known as the screaming snake case.

In [ ]:
#Snake Case Variable
#It means that we delimit words with an underscore.
class_Three_Total_Students=45

### Many Values to Multiple Variables
Python allows you to assign values to multiple variables in one line:

In [ ]:
x,y ,z= "Green","Blue","Black"
print(x,y,z)

Green Blue Black

### One Value to Multiple Variables
* And you can assign the same value to multiple variables in one line

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

## Output Variables
* The Python print() function is often used to output variables.

In [ ]:
x = "Python is awesome"
print(x)

Python is awesome

In the print() function, you output multiple variables, separated by a comma:

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

You can also use the + operator to output multiple variables:

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

###End and Sep
* We can use End command in the end of print function.
* Syntax is: print(1,2,3,End=" .")

* Sep command used to seprated the values from print funcction
* Syntax is : print(1,2,3,4,sep="-")

In [ ]:
print(1,2,3,4, end=".\n")

print(1,2,3,4,5,sep="-")

1 2 3 4.
1-2-3-4-5

#Day-3

## Data Types

* In programming, data type is an important concept.

* Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:  

1. Text Type:	str

2. Numeric Types:	int, float, complex
3. Sequence Types:	list, tuple, range
4. Mapping Type:	dict
5. Set Types:	set, frozenset
6. Boolean Type:	bool
7. Binary Types:	bytes, bytearray, memoryview
8. None Type:	NoneType

### Python Numbers
There are three numeric types in Python:

1. int
2. float
3. complex

In [ ]:
x=24 #int data type
y=2.5  #float data type
z= 1j  # copmlex data type
print(x,y,z)

24 2.5 1j

####Int
* Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

####Float
* Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [ ]:
x = 1.10
y = 1.0
z = -35.59

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

####Complex
* Complex numbers are written with a "j" as the imaginary part:

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

###Check Type of Data
type() method used to check  the type of data

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

###String
* String is  a sequence  of characters uncloased in quotes.
* Strings in python are surrounded by either single quotation marks, or double quotation marks or triple quotation marks .

* 'hello' is the same as "hello" and """hello""".


* You can display a string literal with the print() function:

In [ ]:
a='hello world '
b="hello world"
c="""hello world"""

print(a)
print(b)
print(c)

hello world
hello world
hello world

####Acces the element from String(Slicing)

* You can return a range of characters by using the slice syntax.

* Specify the start index and the end index, separated by a colon, to return a part of the string.

Get the characters from position 2 to position 5 (not included):

In [ ]:
print(a[2:5])

llo

Note:
The first character has index 0.

#####Slice From the Start
* By leaving out the start index, the range will start at the first character:

* Example :  Get the characters from the start to position 5 (not included):

In [ ]:
print(b[:5])

hello

##### Slice To the End
* By leaving out the end index, the range will go to the end:

* Example: Get the characters from position 2, and all the way to the end:

In [ ]:
print(c[1:])

el ol

#### Negative Indexing
* Use negative indexes to start the slice from the end of the string:
* Example
Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

####String Methods
* Python has a set of built-in methods that you can use on strings.

* Note: All string methods returns new values. They do not change the original string.

* Some of the  most comman functions to perform operations on or manipulate strings are:

1. len()
2. string.count()
3. string.capitalize()
4. string.find(word)
5. string.replace(oldtext, newtext)
6. string.lower()
7. string.upper()
8. string.center()

In [5]:
a="hello World This is  Kousar raza"

#find len
print(len(a))

#count 0 from a
print(a.count('o'))

#capitalize
print(a.capitalize())

#find string from a

print(a.find("raza"))

#replace

print(a.replace("This is Kousar raza","Kousar Raza"))

32
3
Hello world this is  kousar raza
28
hello World This is  Kousar raza