<a href="https://colab.research.google.com/github/kousarraza/Python/blob/main/Day_5(Python_Operators).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Day_5

##Python Operators
* Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Identity operators
6. Membership operators
7. Bitwise operators

### Arithmetic operators
Arithnetic operators  are used with numeric values to perform common mathematical operations:

1. Addition(+)
2. Subtraction(-)
3. Multiplication(*)
4. Division(/)
5. Modulus (%)
6. Exponentiation(**)
7. Floor Division(//)

In [ ]:
print(3+5) #addition

print(6-3) #subtraction

print(4 *3) # multiplication

print(8/4) # division

print(6%4) #modulus

print(3**2) # exponentiation

print(19//4)  #the floor division // rounds the result down to the nearest whole number

8
3
12
2.0
2
9
4

### Python Assignment Operators
Assignment operators are used to assign values to variables:

1.  =
2. +=	x += 3	x = x + 3
3. -=	x -= 3	x = x - 3
4. *=	x *= 3	x = x * 3
5. /=	x /= 3	x = x / 3
6. %=	x %= 3	x = x % 3
7. //=	x //= 3	x = x // 3
8. **=	x **= 3	x = x ** 3

In [ ]:
x=4
print(x)

x+=1 #same
x=x+1 #same

print(x)

4
6

### Python Comparison Operators

Comparison operators are used to compare two values:

1. ==	Equal
2. !=	Not equal
3. > Greater than
4. <	Less than
5. >=	Greater than or equal to
6. <=	Less than or equal to

In [2]:
c=3
d=4
print(c==d)#equal

print(c!=d)

False
True

In [3]:
print(c>2)
print(d<2)

True
False

In [4]:
print(c>=3)
print(2<=d)

True
True

###Python Logical Operators
Logical operators are used to combine conditional statements:

* and 	Returns True if both statements are true
* or	Returns True if one of the statements is true
* not	Reverse the result, returns False if the result is true	not

In [10]:
a=10
b=100
print(a==10 and b==100)
print(10==12 and b==10)

print(a>b or b!=a)

print(b!=a or b<a)

print(not(a))

True
False
True
True
False

###Python Identity Operators
*`is` Returns True if both variables are the same object

`is not` Returns True if both variables are not the same object

In [21]:
a=23
b=23.2
print(a is b)
print(id(a))
print(id(b))

c=10
d="10"
print(c is d)

e=10

print(10 is e)

print( b is not a)

False
134084375233456
134083103363504
False
True
True

<>:13: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:13: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-21-ebfa89dfbaa5>:13: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(10 is e)

###Membership Operators
Membership operators are used to test if a sequence is presented in an object

* in Returns "True" if a sequence with the specified value is present in the object

* not in Returns "True" if a sequence with the specified value is not present in the object

In [22]:
var1 = "Python for Beginners"
print("y" in var1)
var2 = ["orange", 5, "3.5"]
print("orange" not in var2)

print("O" in "iCodeGuru")

True
False
False

In [23]:
print("x" not in var1)

True