<a href="https://colab.research.google.com/github/kousarraza/Python/blob/main/Day_4(Data_Types_%26_Type_Casting).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Day_4

##Data Types
* In programming, data type is an important concept.

* Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

1.Text Type: str

2. Numeric Types: int, float, complex

3. Sequence Types: list, tuple, range

4. Mapping Type: dict

5. Set Types: set, frozenset

6. Boolean Type: bool

7. Binary Types: bytes, bytearray, memoryview

8. None Type: NoneType

### Python Numbers
There are three numeric types in Python:

1. int
2. float
3. complex

In [1]:
x=24 #int data type
y=2.5  #float data type
z= 1j  # copmlex data type
print(x,y,z)

24 2.5 1j

####Int
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [9]:
x = 1
y = 35656222554887711
z = -3255522
print(x)

1

####float
* Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [8]:
f1 = 1.10
f2 = 1.0
f3 = -35.59
print(f1)

1.1

####Complex
Complex numbers are written with a "j" as the imaginary part:

In [7]:
c1 = 3+5j
c2 = 5j
c3 = -5j
print(c1)

(3+5j)

###Check Type of Data
type() method used to check the type of data

In [10]:
print(type(x))
print(type(f1))
print(type(c1))

<class 'int'>
<class 'float'>
<class 'complex'>

##Input Function
* Take Input from user

In [11]:
name=input("Enter your Name")
print("My Name is ",name)

print(type(name))

Enter your Namekousar raza
My Name is  kousar raza
<class 'str'>

##String

* String is a sequence of characters uncloased in quotes.

* Strings in python are surrounded by either single quotation marks, or double quotation marks or triple quotation marks .

* 'hello' is the same as "hello" and """hello""".

* You can display a string literal with the print() function:

In [12]:
a='hello world '
b="hello world"
c="""hello world"""

print(a)
print(b)
print(c)

hello world
hello world
hello world

###Strings are Arrays
 Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [14]:
print(a[3])

l

###Looping Through a String
Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [15]:
#Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

###Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [17]:
txt="Python Programming is easy to understand"

print("easy" in txt)

print("is" not in txt)

True
False

###Acces the element from String(Slicing)
* You can return a range of characters by using the slice syntax.

* Specify the start index and the end index, separated by a colon, to return a part of the string.

Get the characters from position 2 to position 5 (not included):

In [18]:
print(a[2:5])

llo

#####Slice From the Start
* By leaving out the start index, the range will start at the first character:

* Example :  Get the characters from the start to position 5 (not included):

In [20]:
print(b[:5])

hello

####Slice To the End
* By leaving out the end index, the range will go to the end:

Example: Get the characters from position 2, and all the way to the end:

In [21]:
print(c[1:])

ello world

###String Methods
1. len
2. upper
3. lower
4. strip
5. count
6. index
7. split
8. join
9. capitalize

In [36]:
name="paKistan"
sport=" cRicket "

print(len(name))

print(len(sport))


print(name.upper())
print(name.lower())

print(sport.count('c'))

print(sport.strip())

print(sport.split())

print("footbal".join(sport))

print(name.capitalize())

8
9
PAKISTAN
pakistan
2
cRicket
['cRicket']
 footbalcfootbalRfootbalifootbalcfootbalkfootbalefootbaltfootbal
Pakistan

###String Concatenation

* To concatenate, or combine, two strings you can use the + operator.

In [37]:
a="Hello"
b="World"

print(a+b)

HelloWorld

###String Format
As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [1]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: ignored

In [2]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [3]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

##Boolean
* In programming you often need to know if an expression is True or False.

* You can evaluate any expression in Python, and get one of two answers, True or False.

In [4]:
a=5
b=10

print(a==5)

print(b==5)

True
False

##Type Casting

* We can change the data type of a variable or a value.

In [12]:
a=5
print(a)
#type of a
print(type(a))

#change the type of a(int) to str

b=str(a)
print(b)
print(type(b))

#c=a+b
#print(c)

s="5"
sum=s+b
print(sum)

#chnage the str into float

s=float(s)
b=float(b)
sum=a+b
print(sum)
print(type(sum))

5
<class 'int'>
5
<class 'str'>
55
10.0
<class 'float'>

In [13]:
#Change float into int and int into float
a=34.4
b=40

print(a,"\n",b)
print(type(a))
print(type(b))

34.4
 40
<class 'float'>
<class 'int'>

In [15]:
a=int(a) #change into int
b=float(b) # change into float

print(a)
print(b)

print(type(a))
print(type(b))

34
40.0
<class 'int'>
<class 'float'>