<a href="https://colab.research.google.com/github/kousarraza/Python/blob/main/Day_3_(Python_Variables).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Day_3

##Variables
A variable should be named according to following rules:

* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
* A variable name must start with a letter or the underscore character.
* Variable names are case sensitive.
* Variable name shouldn't be any keyword of Python.
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
    # ....correct method....
_myVar5 = "Cricket"
myVariableName = 95
MyVariableName = 'Pakistan'
myVariableName = 88.5
print(myVariableName)

In [ ]:
'''
     ...Wrong Method...
    _my Var = "iCodeGuru
    2myvariableName = 95
    &MyVariableName = 'Pakistan'   --> (*&^%$#@!)not allowed at variable

    '''

###Types of variable name cases

####Camel Case Variable
*Camel Case --> whose first word of variable is lower and second word is Upper case.

In [1]:
myName="Kousar Raza"
myAge=24

print(myName)
print(myAge)

Kousar Raza
24

#### Pascal Case Variable

* Who first and second letter words letter are upper case.

In [3]:
MyName="Kousar Raza"
MyAge=24
print(MyName)
print(MyAge)

Kousar Raza
24

#### Snake Case Variable

* Whose all letter are lower case.
* Each word is separated by an underscore character

In [ ]:
my_name_="Pakistan"
my_country_code=92

###Assigning values to the variable:
* Assigning multiple values to multiple variables

* Assigning one value to multiple variables

####Multiple Values to Multiple Variables
Python allows you to assign values to multiple variables in one line.

In [4]:
x,y ,z= "Green","Blue","Black"
print(x,y,z)

Green Blue Black

####One Value to Multiple Variables
* And you can assign the same value to multiple variables in one line

In [5]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

##Getting Address of a Variable
Use id function for it.

* The id() function returns a unique id for the specified object.

* All objects in Python has its own unique id.

* The id is assigned to the object when it is created.

* The id is the object's memory address, and will be different for each time you run the program.

In [14]:
X = 139810907914576
print(id(139810907914576))
b = 2
print(id(b))

134382474229584
134383037202704

###Output Variables
The Python print() function is often used to output variables.

In [6]:
x = "Python is awesome"
print(x)

Python is awesome

In the print() function, you output multiple variables, separated by a comma:

In [7]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

You can also use the + operator to output multiple variables:

In [8]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

###End and Sep
* We can use End command in the end of print function.

* Syntax is: print(1,2,3,End=" .")

* Sep command used to seprated the values from print funcction

* Syntax is : print(1,2,3,4,sep="-")

In [13]:
print("Hello World",end=".")
print("\n")
print("\nHello", "World", sep="-")

Hello World.


Hello-World